<template>
    <div>
        <!-- <h4>{{ api_welcome_msg }}</h4> -->
        <p class="pt-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <!-- <p v-bind:nameData="nameData"></p> -->
        <ul>
            <li v-for="name in nameData" v-bind:key="name.name">
                {{ name.name }}
            </li>
            <li v-for="name in nameData" v-bind:key="name.name">
                {{ name.birth_year }}
            </li>
            <li v-for="name in nameData" v-bind:key="name.name">
                {{ name.hair_color }}
            </li>
        </ul>
        <div class="row">
            <button @click='getSwapi()' type="button" class="btn btn-info">SWAPI</button>
            <!-- <button v-on:click='$emit(\'remove\')' type="button" class="btn btn-warning ml-5">Clear</button> -->
        </div>
    </div>
</template>

<script>
const axios = require('axios')

export default {
  name: 'Api',
  data () {
    return {
      nameData: []
    }
  },
  methods: {
    getSwapi () {
      axios.get('https://swapi.co/api/people/1/')
        .then((response) => {
          console.log(response.data.name)
          console.log(Object.keys(response.data))
          // return response.data.name
          this.nameData = [...this.nameData, response.data]
        })
        .catch((error) => {
          console.log(error)
        })
        .finally(() => {
          console.log('ran!')
        })
    }
  },
  props: {
    name
  }
}
</script>
