<template>
    <div>
        <h3>Hello</h3>
        <div v-for="swap in swaps" v-bind:key="swap.id">
            <Item v-bind:swap="swap" v-on:clr-scrn="$emit('clr-scrn', swap.name)" />
        </div>
    </div>

</template>

<script>
import Item from './Item.vue'

export default {
  name: 'Home',
  components: {
    Item
  },
  props: ['swaps']
}
</script>
