<template>
    <div class="alert-info">
        <p class="p-2">
            {{swap.name}}
            <button @click="$emit('clr-scrn', swap.name)" class="btn alert-info">
                Clear
            </button>
        </p>
    </div>
</template>

<script>
export default {
  name: 'Item',
  props: ['swap']
}
</script>
