<template>
    <div>
      <!-- <Api/> -->
      <div class="row">
        <Home v-bind:swaps="swaps" v-on:clr-scrn="$emit('clearObject')"/>
      </div>
      <button @click='getSwapi()' type="button" class="btn btn-info">SWAPI</button>
    </div>
</template>

<script>
// import Api from './components/Api.vue'
import Home from './components/Home.vue'
const axios = require('axios')

export default {
  name: 'App',
  components: {
    Home
  },
  data () {
    return {
      swaps: []
    }
  },
  methods: {
    getSwapi () {
      axios.get('https://swapi.co/api/people/1/')
        .then((response) => {
          // console.log(response.data.name)
          // console.log(Object.keys(response.data))
          this.swaps = [...this.swaps, response.data]
        })
        .catch((error) => {
          console.log(error)
        })
        .finally(() => {
          console.log('ran!')
        })
    },
    clearObject () {
      // Span the entire length of the array
      const n = this.swaps.length
      console.log('n: ' + n)
      // Beginnig of the array
      const pos = 0
      console.log('pos: ' + pos)
      this.swaps = this.swaps.filter(swap => swap.name === 'Luke Skywalker')
    }
  }
}
</script>
